// Custom.scss

//Font
@font-face {
    font-family: LiberationSans;
    src: url(../fonts/liberation_sans.ttf);
}

* {
    font-family: LiberationSans, sans-serif;
}

//Edicion de colores para el diseño
.bg-light {
    background-color: rgba(248, 249, 250, .91) !important;
}

//Anchura personalizada
.w-22 {
    width: 22%;
}

//Import bootstrap
@import "./bootstrap/bootstrap";